---
import BaseLayout from "../../layouts/base.astro";
import ToC from "../../components/ToC.astro";

const title = "Cookies in Remix";
const description =
  "Cookies are a way for us to share data between the client and server. In this series we look at a collection of common use cases for cookies, and how to implement them in a Remix application.";
const og_title = "Cookies in Remix";
---

<BaseLayout title={title} description={description} og_title={og_title}>
  <main
    class="prose dark:prose-invert w-full mx-auto flex-1 my-10 p-2 md:my-20"
  >
    <h1 class="text-2xl md:text-3xl font-bold leading-normal mb-12">
      {title}
    </h1>
    <ToC
      list={[
        {
          title: "Create a simple cookie with Remix",
          url: "/blog/create-a-simple-cookie-with-remix/",
        },
        {
          title: "Store data in a cookie with sessions and Remix",
          url: "/blog/store-data-in-a-cookie-with-sessions-and-remix",
        },
      ]}
    />
    <p>
      {description}
    </p>
  </main>
</BaseLayout>
